.panel.panel-default
 .panel-body
  .row
   .col-md-4
    = image_tag @movie.image.url(:medium)
    .table-responsive
     %table.table-responsive
      %tbody
       %%tr
        %td.reviews
         %strong.review_title Title:
         = @movie.title
        %%tr
         %td.reviews
          %strong Description:
          = @movie.description
        %%tr
         %td.reviews
          %strong length:
          = @movie.movie_length
        %%tr
         %td.reviews
          %strong Director:
          = @movie.director
        %%tr
         %td.reviews
          %strong.star_rating Rating:
          = @movie.rating
     = link_to "Write a review", new_movie_review_path(@movie)
   .col-md-7.col-md-offset-1
    %h1.review_title= @movie.title
    %p= @movie.description
    - if @movie.reviews.blank?
     %h3 "No reviews yet, would you like to add the first?"
     = link_to "Write review", new_movie_review_path(@movie), class: "btn btn-danger"
    - else
     - @movie.reviews.each do |review|
      .reviews
       %p= review.rating
       %p= review.comment




= link_to 'Edit', edit_movie_path(@movie)

= link_to 'Back', movies_path
